<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9ZJKbyqcZvnThyxXhfHu-PcGmQzlUOz4</string>
	<key>GCM_SENDER_ID</key>
	<string>728322061783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.malikussalehLibrary</string>
	<key>PROJECT_ID</key>
	<string>malikussaleh-library</string>
	<key>STORAGE_BUCKET</key>
	<string>malikussaleh-library.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728322061783:ios:320d9369ab4325c1b9c792</string>
</dict>
</plist>